/* for tablets */

@media all and (max-width:1100px) {
    .copy-container h1 {
        font-size: 55px;
    }
    
    
    .HELLO {
        width: 200px;
        height: 60px;
        line-height: 70px;
    }

    .ERO {
        width: 140px;
        height: 60px;
        line-height: 70px;
    }

    .search {
        display: none;
    }

    .copy-container h2 {
        height: 65px;
        margin-top: 70px;
        padding-bottom: 25px;
        font-size: 60px;
        text-indent:100%;
        white-space:nowrap;
        overflow:hidden;
        }
    

    .footer-list {
        display: none;
    }


}

/* for smartphone */

@media all and (max-width:670px) {
    .copy-container h2 {
        display: none;
    }

    .footer {
        width: 100%;
    }

    .header-list a {
        font-size: 15px;
        padding: 0px 10px 0px 10px;
    }

    .header-logo {
        font-size: 26px;
    }

    html {
        width: 100%;

    }

    body {
        width: 100%;
    }

    .place {
        display: none;
    }

    #body-img {
        background-image: url(island.jpg);
        background-size: no-repeat;
        background-size: cover;
        
    }

    .contents-wrapper {
        width: 100%;
    }

    .main {
        padding: 100px 0px;
    }

    .copy-container {
        padding: 0px 80px;
        height: 399px;
    }

    .contents-wrapper {
        border-radius: 0;    
        height: 100%;
        margin-top: 100px;
    }

    .title {
        font-size: 28px;
    }
    #title {
        margin-bottom: 80px;
    }
    .sub-contents .article {
        width: 100%;
    }

    .toppicture {
      width: 100%;
    }

    .article::after {
        display: none;
      }
    
    .article::before {
        display: none;
      }

    .ornament h2:after {
        right: 0px;
        width: 43%;
        display: none;
    }

    .ornament h2:before {
        left: -24px;
        display: none;
    }

    #mother {
        display: none;
    }

    .dli-chevron-up {
        margin-bottom: 60px;
    }

    .twitter {
        right: 20px;
    }
    body::before {
        background: url('island.jpg') no-repeat center;/* 擬似要素に背景画像 */
        background-size: cover;/* cover指定 */
        content: "";/* 画像を表示させる為に必要*/
        display: block;/*ブロックボックスで表示*/
        position: fixed;/* 擬似要素全体を固定 */
        width: 100%;/* 横幅を画面全体 */
        height: 100vh;/* 縦幅を画面全体 */
        top: 0;/* 上からの配置を0 */
        left: 0;/* 左からの配置を0 */
        z-index: -1;/*背景画像になるように重ね順を-1*/
      }
      .rotateY {
        animation: none;
    }

    .ornament {
        opacity: 1;
    }

    #title {
        margin: 0px 20px 100px -30px;
    }
    .span-2 {
        color: rgb(109, 222, 218);
    }

    .span-R {
        color: rgb(49, 142, 102);
    }
  }

    