

html {
  min-height: 100%;
  position: relative;
  min-width: 100%;
  padding: 0px;
  margin: 0px;
  -webkit-appearance: none;
}


body {
    font-family: "Avenir Next";
    background-color: #bfd1c9;
    background-image: url(crossroad.jpg);
    background-size: cover;
    background-size: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    min-height: 100%;
    zoom: 75%; 
    cursor: url(leek-32.png), default;
    padding: 0;
    margin: 0;
    display: flex;
    flex-flow: column;
   
  }  

  .header {
    background-color: #c0babc;
    color: #fff;
    height: 102px;
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    z-index: 10;
    opacity: 0.9;
  }
  
  
  .header-logo {
    float: left;
    font-size: 43px;
    padding-left: 30px;
    margin-right: 32px;
    line-height: 102px;
    text-decoration: none;
    color: #fff;
    transition: all 0.6s;  
  }
  
  .header-logo:hover {
    color: rgba(111, 255, 255, 0.896);
  }

  .header-list {
    height: 100%;
  }

  .header-list a {
    float: left;
    height: 102px;
    line-height: 102px;
    padding: 0px 40px 0px 40px;
    font-size: 25px;
    background-color: aqua;
    background-color: rgba(0, 255, 255, 0);
  }

  .header-list ul {
    height: 0px;
    margin: 0px;
  } 

  .btn-list:hover {
    background-color: rgba(0, 255, 255, 0.3);
  }

  .btn-list {
    display: inline-block;
    color: white;
    bottom: none;
    text-decoration: none;
    transition: all 0.3s;
  }

.contents-wrapper {
    height: 1000px;
    background-color: rgba(240, 239, 239, 0);
    width: 58.7%;
    flex: 1;
    min-height: 100%;
    margin: 0 auto;
    padding-top: 100px;
    animation-name: backinanime;
    animation-duration: 0.9s;
    animation-fill-mode: forwards;
    animation-delay: 0.2s;
    cursor: auto;
}

@keyframes backinanime {
  0% {
    background-color: rgba(240, 239, 239, 0);
    transform: translateY(600px);
  }

  100% {
    background-color: rgba(240, 239, 239, 0.93);
    transform: translateY(0px);
  }
}

.title {
    font-size: 50px;
    color: rgb(37, 36, 35);
    border-top:12px dotted;
    border-bottom: 12px dotted;
    border-color: #aba7a9;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    animation-name: fadeintitle;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-delay: 0.5s;
    opacity: 0;
}

@keyframes fadeintitle {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }

}


.main {
    font-size: 26px;
    font-weight: 500;
    height: 700px;
    font-family: "Yu Gothic";
    padding: 30px 55px 80px 55px;
    margin-top: 30px;
    margin-bottom: 170px;
    animation-name: fadeinmain;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-delay: 0.8s;
    opacity: 0;
    overflow-y: scroll;
}

@keyframes fadeinmain {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.main::-webkit-scrollbar {
  width: 20px;
}

.main::-webkit-scrollbar-track {
  background: rgba(111, 255, 255, 0);
  border-radius: 30px;
  box-shadow:0 0 5px rgba(240, 239, 239, 0.93) inset ;
}

.main::-webkit-scrollbar-thumb {
  background: rgba(111, 255, 255, 0.5);
  border-radius: 30px;
}
.footer {
  background-color: #4d3e45;
  color: #fff;
  height: 161px;
  width: 100%;
  position: absolute;/*←絶対位置*/
  bottom: 0%; /*下に固定*/
  left: 0px;
  cursor: url(leek-32.png), default;
}


.btn-footer {
  display: inline-block;
  color: white;
  text-align: right;
  padding-bottom: 10px;
}

.footer-logo {
  float: left;
  color: #fff;
  font-size: 40px;
  padding-top: 53px;
  padding-left: 30px;
  opacity: 0.7;
}

.footer-logo:hover {
opacity: 1;
}

.footer-logo {
transition: all 0.5s;
}

.footer-list {
  float: right;
}

.footer-list a {
  margin-top: 50px;
  margin-right: 50px;
  font-size: 24px;
  opacity: 0.7;
}