@charset "utf-8";

#particle{
  position: absolute;
  left:0;
  top:-5%;
  width:100%;
  height: 100vh;
  vertical-align: bottom;/*canvasタグ下に余白が生まれるのを防ぐ*/
  z-index: 2;
}

@media screen and (max-width:768px) {
#particle{
  width:170%;
height:170vh;
  left:-35%;
  top:-35vh;
  }    
}

/*========= レイアウトのためのCSS ===============*/

body{
  background:#f4f4f4;
}

img{
  max-width:100%;
  height:auto;
  width: 100%;
}

h1{
  text-align: center;
  font-size:1.5rem;
  padding: 30px 0;
}

h2{
  font-size:1.3rem;
  margin:0 0 20px 0;
}

/*写真と文章のセット　装飾のためのCSS*/

.area{
  position:relative;
  margin:15% auto 20% auto;
  padding: 0 30px;
  max-width:1000px;
  width:100%;
}

.area figure{
  position:relative;
  left:0;
  top:0;
  width:40%;
  line-height: 0;
}

.area:nth-child(2n) figure{
  left:50%;
}

.area .box{
  position:absolute;
  left:30%;
  background:#eeeeee;
  padding:20px;
  box-shadow: 0 0 40px rgba(0,0,0,0.1);
}

.area:nth-child(2n) .box{
  left:inherit;
  right:45%;
  height: 270px;
  border-radius: 25px;
  margin-top: -360px;
}


.header {  
    /*d67539 65575d 312c2e*/
    background-color: #eeeeee;
    color: #fff;
    height: 75px;
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    z-index: 10;
    opacity: 0;
    animation-name: headeranime;
    animation-fill-mode: forwards;
    animation-delay: 2s;
    animation-duration: 1.8s;
    cursor: url(leek-32.png), default; 
  }
  
@keyframes headeranime {
  0% {
    margin-top: 50px;
    opacity: 0;
  }
  100% {
    margin-top: 0px;
    opacity: 0.9;
    
  }
}

  .header-logo {
    float: left;
    font-size: 32px;
    padding-left: 20px;
    margin-right: 25px;
    line-height: 75px;
    opacity: none;
    text-decoration: none;
    color: rgb(0, 0, 0);
    transition: all 0.6s;  
}
  
  .header-logo:hover {
    color: rgba(111, 255, 255, 0.896);
  }

  .header-list a {
    float: left;
    height: 75px;
    line-height: 75px;
    padding: 0px 30px 0px 30px;
    font-size: 20px;
    color: rgb(0, 0, 0);
    bottom: none;
    text-decoration: none;
    transition: all 0.3s;
  }

  .header-list ul {
    height: 0px;
    margin: 0px;
  } 
  
  .header-list ul ul {
    display: block;
    float: none;
    position: absolute;
    top: 75px;
    left: 146.5px;
    background-color: #65575d;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s;
  }
  
  .children {
    background-color: #eeeeee;
    opacity: 1;
    width: 367px;
    height: 70px;
    text-decoration: none;
    color: rgb(0, 0, 0);
  }

  #mother:hover > ul {
    visibility: visible;
    opacity: 1;
  }

  .header-list ul ul li a:hover {
    background-color: rgba(0, 255, 255, 0.3);
  }


  .has-child {
    position: relative;
    
  }

  .header-list a:hover {
    background-color: rgba(0, 255, 255, 0.3);
  }

  .twitter {
    position: absolute;
    right: 0px;
  }

  .soundcloud {
    position:absolute;
    right: 80px;
  }

  .dli-chevron-down {
    display: inline-block;
    color: rgb(0, 0, 0);
    line-height: 1;
    width: 0.6em;
    height: 0.6em;
    border: 0.1em solid currentColor;
    border-left: 0;
    border-bottom: 0;
    box-sizing: border-box;
    transform: translateY(-25%) rotate(135deg);
    margin-right: 10px;
    margin-bottom: 2px;
  }

  li {
    list-style: none;
  }


  .footer {
    background-color: black;
    color: white;
    height: 120px;
    width: 100%;
    position: absolute;/*←絶対位置*/
    bottom: -383.5%;
    left: 0px;
    cursor: url(leek-32.png), default;
  }
  
  
  .btn-footer {
    display: inline-block;
    color: white;
    text-align: right;
    padding-bottom: 10px;
  }

  .footer-logo {
    float: left;
    color: #fff;
    font-size: 30px;
    padding-top: 39px;
    padding-left: 30px;
    opacity: 0.7;
  }
  
  .footer-logo:hover {
  opacity: 1;
}

  .footer-logo {
  transition: all 0.5s;
}

  .footer-list {
    float: right;
  }
  
  .footer-list a {
    margin-top: 50px;
    margin-right: 50px;
    font-size: 18px;
    opacity: 0.7;
  }
  
  .footer-list ul {
    margin: 0px;
    padding: 0px;
  }


/*Footerを下付きにする*/



/*＝＝＝＝＝＝＝＝＝＝＝タブレット以下の見え方＝＝＝＝＝＝＝＝＝＝＝＝＝*/

@media screen and (max-width:768px){
.area figure{
  width:50%;
}
  
footer{
  position:inherit;
}

}

@media screen and (max-width:600px){
h2{
  text-align: center;
}
  
.area:nth-child(2n) figure {
    left: 0;
}
  
.area figure{
  width:100%;
}



.area .box,
.area:nth-child(2n) .box{
    position: relative;
    top: 0;
    left: 0;
  right: inherit;
  padding:20px;
}
}

#body-img { 
    position: fixed;/*背景を固定するためfixedをかける*/
      z-index: 0;/*#container,#footerよりも下に配置するために数値を小さくする*/
    top: 0;/*topの位置がJSで変化*/
      /*以下画面で背景画像を表示させるための指定*/
    width: 100%;
      height:100vh;
      background: url("crossroad.jpg") no-repeat top center;/*背景画像の設定※オリジナルの画像に設定してください*/
      background-size:cover;
      transform-origin:center;/*変化する基点を中心からに設定*/
  }

  #body-img {
      visibility: hidden;
  }

  body {
    background-color: whitesmoke;
  }

/*==================================================
　印象編　5-17　粒子が集まってタイポグラフィーを形成する
===================================*/






#luxy {
  margin-top: 100vh;
  animation: hide;
  animation-fill-mode: forwards;
  animation-duration: 2s;
  background: url("background1.png") top center;
}

@keyframes hide {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
} 

canvas{
  position: absolute;
  bottom: 0;
  left:0;
  top: 39.5%;
  width: 100%;
  }

/*========= ローディング画面のためのCSS ===============*/
#splash {
	position: fixed;
	width: 100%;
	height: 100%;
	background: black;
	z-index: 9999999;
	text-align:center;
	color:#fff;
}

#splash-logo {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
  font-size: 20px;
}

/*========= 画面遷移のためのCSS ===============*/

/*画面遷移アニメーション*/
.splashbg{
    display: none;
}

/*bodyにappearクラスがついたら出現*/
body.appear .splashbg{
    display: block;
    content: "";
    position:fixed;
	  z-index: 999;
    width: 100%;
    height: 100vh;
    top: 0;
	  left: 0;
    transform: scaleX(0);
    background-color: black;/*伸びる背景色の設定*/
	  animation-name:PageAnime;
	  animation-duration:1.2s;
	  animation-timing-function:ease-in-out;
	  animation-fill-mode:forwards;

}

@keyframes PageAnime{
	0% {
		transform-origin:right;
		transform:scaleX(0);
	}
	50% {
		transform-origin:right;
		transform:scaleX(1);
	}
	50.001% {
		transform-origin:left;
	}
	100% {
		transform-origin:left;
		transform:scaleX(0);
	}
}

/*画面遷移の後現れるコンテンツ設定*/

#container{
	opacity: 0;/*はじめは透過0に*/
}

/*bodyにappearクラスがついたら出現*/
body.appear #container{
	animation-name:PageAnimeAppear;
	animation-duration:0.001s;
	animation-delay: 0s;
	animation-fill-mode:forwards;
	opacity: 0;
}

@keyframes PageAnimeAppear{
	0% {
	opacity: 0;
	}
	100% {
	opacity: 1;
}
}

html::-webkit-scrollbar {
  width: 6px;
}

html::-webkit-scrollbar-track {
  background: white;
  box-shadow:0 0 5px rgba(240, 239, 239, 0.93) inset ;
}

html::-webkit-scrollbar-thumb {
  background: #000000;
}


/*=== 9-1-2 丸が動いてスクロールを促す ====*/

/*スクロールダウン全体の場所*/
.scrolldown2{
  /*描画位置※位置は適宜調整してください*/
position:absolute;
bottom:10px;
left:50%;
animation: scrolldown2anime 3s 2.6s forwards;
opacity: 0;
}

@keyframes scrolldown2anime {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/*Scrollテキストの描写*/
.scrolldown2 span{
  /*描画位置*/
position: absolute;
left:10px;
bottom:10px;
  /*テキストの形状*/
color: rgb(48, 48, 48);
font-size: 0.8rem;
letter-spacing: 0.05em;
/*縦書き設定*/
-ms-writing-mode: tb-rl;
  -webkit-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
}

/* 丸の描写 */
.scrolldown2:before {
  content: "";
  /*描画位置*/
  position: absolute;
  bottom:0;
  left:-4px;
  /*丸の形状*/
width:10px;
height:10px;
border-radius: 50%;
background:rgb(48, 48, 48);
  /*丸の動き1.6秒かけて透過し、永遠にループ*/
animation:
  circlemove 1.6s ease-in-out infinite,
  cirlemovehide 1.6s ease-out infinite;
}

/*下からの距離が変化して丸の全体が上から下に動く*/
@keyframes circlemove{
    0%{bottom:45px;}
   100%{bottom:-5px;}
}

/*上から下にかけて丸が透過→不透明→透過する*/
@keyframes cirlemovehide{
    0%{opacity:0}
   50%{opacity:1;}
  80%{opacity:0.9;}
100%{opacity:0;}
}

/* 線の描写 */
.scrolldown2:after{
content:"";
  /*描画位置*/
position: absolute;
bottom:0;
left:0;
  /*線の形状*/
width:2px;
height: 50px;
background:rgb(48, 48, 48);
}

/* 画像切り込み用CSS　*/

.image {
	position: relative;
  transform: rotate(-10deg);
}

.image::before,
.image::after {
	content: '';
	position: absolute;
	transform: rotate(-35deg);
	width: 70px;
	height: 25px;
	background-color: rgb(221, 210, 210);
	z-index: 1;
}

.image::before {
	top: -10px;
	left: -25px;
	border-bottom: 1px solid #aaa;
}

.image::after {
	bottom: -10px;
	right: -25px;
	border-top: 1px solid #aaa;
}

/* 画像切り込み用CSS fin */

#image1 {
  width: 65%;
}

#box1 {
  left: 60%;
  width: 260px;
  height: 340px;
  margin-left: 20px;
  top: 100%;
  border-radius: 20px;
}

h2 {
  text-align: center;
  font-family: monospace;
}

/*==================================================
じわっ
===================================*/

/* ぼかしから出現 */
.blur{
  animation-name:blurAnime;
  animation-duration: 1.5s;
  animation-fill-mode:forwards;
}

@keyframes blurAnime{
  from {
  filter: blur(10px);
  transform: scale(1.1);
  opacity: 0;
  }

  to {
  filter: blur(0);
  transform: scale(1);
  opacity: 1;
  }
}


/* スクロールをしたら出現する要素にはじめに透過0を指定　*/
 
.blurTrigger{
    opacity: 0;
}

.rotateYTrigger {
  opacity: 0;
}

/*　Y軸（横へ） */
.rotateY{
  animation-name:rotateYAnime;
  animation-duration: 1s;
  animation-fill-mode:forwards;
}

@keyframes rotateYAnime{
  from{
    opacity: 0;
    }
  to{
    opacity: 1;
    }
}

body {
  background-color: #eeeeee;
}

/*== ボタン共通設定 */
.btn{
  /*アニメーションの起点とするためrelativeを指定*/
  position: relative;
  overflow: hidden;
  /*ボタンの形状*/
  text-decoration: none;
  display: inline-block;
  border: 3px solid black;/* ボーダーの色と太さ */
  padding: 15px 39px;
  text-align: center;
  outline: none;
  font-family: 'Times New Roman', Times, serif;
  margin: 20px;
  margin-left: 35px;
  font-size: 16px;
  font-weight: 400;
  font-weight: bold;
  /*アニメーションの指定*/   
  transition: ease .2s;
 
}

/*ボタン内spanの形状*/
.btn span {
  position: relative;
  z-index: 3;/*z-indexの数値をあげて文字を背景よりも手前に表示*/
  color: #000000;
}

.btn:hover span{
  color:#fff;
}

/*== 背景が流れる（左から右） */
.bgleft:before {
  content: '';
  /*絶対配置で位置を指定*/
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  /*色や形状*/
  background: black;/*背景色*/
  width: 100%;
  height: 100%;
  /*アニメーション*/
  transition: transform .39s cubic-bezier(0.8, 0, 0.2, 1) 0s;
  transform: scale(0, 1);
  transform-origin: right top;
}

/*hoverした際の形状*/
.bgleft:hover:before{
  transform-origin:left top;
  transform:scale(1, 1);
}

.description {
  text-align: center;
}

h3 {
  text-align: center;
  font-family:Georgia, 'Times New Roman', Times, serif;
}

h3 {
  position: relative;
  padding: 1.2rem 0 1.5rem 0;
  text-align: center;
  margin-bottom: 39px;

}

h3:before {
  position: absolute;
  bottom: -10px;
  left: calc(50% - 30px);
  width: 60px;
  height: 5px;
  content: '';
  border-radius: 3px;
  background: #aba7a9;
}

#btn2 {
  margin-left: 180px;
}

#picture2 {
  width: 400px;
}

#image2 {
  width: 43%;
}

.image2 {
  transform: rotate(10deg);
}

#image3 {
  width: 90%;
  margin-left: 0%;
}

.image3 {
  transform: rotate(0deg);
}

#area3 {
  margin-bottom: 70%;

}

#box3 {
  right: 0%;
  bottom: -50%;
  transform: rotate(-10deg);
  height: 280px;
  width: 420px;
  margin-left: 250px;
  border-radius: 25px;
}

#btn3 {
  margin-left: 110px;
}

/*== 押し込む円 */

.pushcircle{
  /*周囲の線の起点とするためrelativeを指定*/
position: relative;
  /*円の形状*/
width:100px;
height:100px;
  box-sizing: border-box;
  padding: 0 10px;
text-align: center;
background:#333;
border-radius:50%;
color: #fff;
  text-decoration: none;
  outline: none;
  /*天地中央にテキストを配置*/
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-top: 10px;
}

/*内側の線*/
.pushcircle:after {
content: "";
  /*絶対配置で線の位置を決める*/
position: absolute;
top: 50%;
left: 50%;
  /*線の形状*/
  width: 85%;
height: 85%;
border: 2px solid #333;
border-radius: 50%;
transform: translate(-50%, -50%) scale(1.1);
  /*アニメーションの指定*/
  transition: .3s ease; 
}

/*hoverをしたら枠線が小さくなる*/
.pushcircle:hover:after {
transform: translate(-50%, -50%) scale(1);
  border-color:#fff;
}

#area4 {
  margin-top: 250px;
}